# Firebase (projeto: cleanby-salsalab)
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
EXPO_PUBLIC_FIREBASE_PROJECT_ID=
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=
EXPO_PUBLIC_FIREBASE_APP_ID=

# Google Maps (para react-native-maps)
EXPO_PUBLIC_GOOGLE_MAPS_KEY=

# MercadoPago (pagamentos)
EXPO_PUBLIC_MERCADOPAGO_PUBLIC_KEY=
